<!DOCKYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Перевод в дореволюционную орфографию</title>
</head>
<body>

<p>Ваше слово в дореволюционной орфографии: {{oldword}} </p>
<p>{{weather}}</p>

<form action="/" method="GET"> 
Вернуться на главную страницу <input type="submit" value="перейти"> 
</form>

<form action="/2" method="GET"> 
Перейти на страницу 2 <input type="submit" value="перейти"> 
</form>

<form action="/3" method="GET"> 
Перейти на страницу 3 <input type="submit" value="перейти"> 
</form>
</body>

</html>