<!DOCKYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Перевод в дореволюционную орфографию</title>
</head>
<body>

<form action="/dorev/" method="GET"> 
Введите слово <input type="text" name="username" value=""> 
<input type="submit" value="отправить">
</form>

<p>{{weather}}</p> 

<form action="/2" method="GET"> 
Перейти на страницу 2 <input type="submit" value="перейти"> 
</form>

<form action="/3" method="GET"> 
Перейти на страницу 3 <input type="submit" value="перейти"> 
</form>
</body>

</html>