<!DOCKYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Тест</title>
</head>
<body>
<p><b>Выберите правильные ответы /p></b>

<form action="/check/" method="GET"> 
<p>1</p>
<input type="radio" name="1" value="r">бежевый<Br> 
<input type="radio" name="1" value="w">б&#1123;жевый<Br> 
<p>2</p>
<input type="radio" name="2" value="w">гнедой<Br> 
<input type="radio" name="2" value="r">гн&#1123;дой<Br> 
<p>3</p>
<input type="radio" name="3" value="w">веко<Br> 
<input type="radio" name="3" value="r">в&#1123;ко<Br> 
<p>4</p>
<input type="radio" name="4" value="w">дева<Br> 
<input type="radio" name="4" value="r">д&#1123;ва<Br> 
<p>5</p>
<input type="radio" name="5" value="r">лев<Br> 
<input type="radio" name="5" value="w">л&#1123;в<Br> 
<p>6</p>
<input type="radio" name="6" value="w">крепость<Br> 
<input type="radio" name="6" value="r">кр&#1123;пость<Br> 
<p>7</p>
<input type="radio" name="7" value="r">летать<Br> 
<input type="radio" name="7" value="w">л&#1123;тать<Br> 
<p>8</p>
<input type="radio" name="8" value="w">лето<Br> 
<input type="radio" name="8" value="r">л&#1123;то<Br> 
<p>9</p>
<input type="radio" name="9" value="w">редька<Br> 
<input type="radio" name="9" value="r">р&#1123;дька<Br> 
<p>10</p>
<input type="radio" name="10" value="r">семья<Br> 
<input type="radio" name="10" value="w">c&#1123;мья<Br> 
<p><input type="submit" value="проверить"></p>
</form> 
</body>
</html>