<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html><head>
<meta charset="UTF-8"><title>Анкета</title>

<style type="text/css">
</style><!--DOCKYPE html-->
</head>
<body style="background-color: rgb(255, 255, 204); color: rgb(0, 0, 0);" alink="#ee0000" link="#0000ee" vlink="#551a8b">
<div class="styleee"><b>Заполните анкету и ответьте
на вопросы </b></div>
<form action="/thanks" method="get">
<div style="" class=""> Сколько Вам лет? <input name="возраст" value="" type="text"><br>
В каком городе Вы прожили большую часть своей жизни? <input name="город" value="" type="text"></div>
<div class="">
<p>Ваш пол:</p>
<input name="пол" value="мужской" type="radio">мужской<br>
<input name="пол" value="женский" type="radio">женский<br>
</div><Br>
<div>Какой Ваш родной язык? <input name="язык" value="" type="text"></div>
<div>
<p>Как вы употребляете эти слова? </p>
<p>Апостроф</p>
<input name="апостроф" value="апострОф" type="radio">апострОф<br>
<input name="апостроф" value="апОстроф" type="radio">апОстроф<br>
<p>Договор</p>
<input name="договор" value="договОр" type="radio">договОр<br>
<input name="договор" value="дОговор" type="radio">дОговор<br>
<p>Торты</p>
<input name="торты" value="тОрты" type="radio">тОрты<br>
<input name="торты" value="тортЫ" type="radio">тортЫ<br>
<p>Щавель</p>
<input name="щавель" value="щавЕль" type="radio">щавЕль<br>
<input name="щавель" value="щАвель" type="radio">щАвель<br>
<p>Квартал</p>
<input name="квартал" value="квартАл" type="radio">квартАл<br>
<input name="квартал" value="квАртал" type="radio">квАртал<br>
<input value="Отправить" type="submit"></div>
</form>
<form action="/json" method="get"> Перейти ко всем
данным(json) <input value="перейти" type="submit">
</form>
<form action="/stats" method="get"> Перейти к
статистике <input value="перейти" type="submit"> </form>
<form action="/search" method="get"> Перейти к
поиску <input value="перейти" type="submit"> </form>
</body></html>